@{
    ViewBag.Title = "CostCenterSchedule_Index";
}

<div class="container-fluid py-4">
    <div class="row my-1">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="d-sm-flex justify-content-between" style="border-bottom:groove">
                            <div class="text-2xl"><b>Cost Center Schedule Report</b></div>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("GetCCScheduleReport", "CostCenterSchedule", FormMethod.Post, new { id = "frmNewEmp" }))
                {
                    @Html.AntiForgeryToken();
                    <div class="card-body">
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="praticesname">From Date<span style="color:#CC0000;">*</span></label>
                                    <input type="date" class="form-control-sm" required id="Fromdate" name="Fromdate">
                                    <div style="color:#CC0000;font-weight:400" id="fromdateerror"></div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="praticesname">To Date <span style="color:#CC0000;">*</span></label>
                                    <input type="date" class="form-control-sm" required id="Todate" name="Todate">
                                    <div style="color:#CC0000;font-weight:400" id="todateerror"></div>
                                </div>
                            </div>
                            <div><label style="font-size:12px;color:red;"><span>*</span> Mandatory Fields</label></div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-sm saveBtn" id="btngetreport">Show Report</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="progressbar" class="modal fade" role="dialog" style="height: auto;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lx">
        <!-- Modal content-->
        <div class="modal-content" style="height:auto;width:auto;overflow:auto">
            <div class="modal-header">
                <label style="color:red;text-align: center;">Please wait........</label>
            </div>
            <div class="modal-body ">
                <div class="row col-6" style="overflow:auto;align-content:center">
                    <label style="color:darkred;text-align: center;">Report is in progress........</label>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
       /* $('#progressbar').modal('hide');*/

        $("#frmNewEmp").submit(function(e) {
            e.preventDefault();
            var fromdate = $("#Fromdate").val();
            var todate = $("#Todate").val();
            getreport(fromdate, todate);
        });

    });

    function getreport(fromdate, todate) {
        fromdate = moment(fromdate, 'YYYY-MM-DD').format('YYYY-MM-DD');
        todate = moment(todate, 'YYYY-MM-DD').format('YYYY-MM-DD');
        var data = {
            fromdate: fromdate,
            todate: todate
        };
        var form = $('#frmNewEmp');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var headers = {};
        headers['__RequestVerificationToken'] = token;
        var ControllerURL = '@Url.Action("GetCCScheduleReport", "CostCenterSchedule")';
        var DownloadURL = '@Url.Action("Download", "CostCenterSchedule")';

        $.ajax({
            type: 'POST',
            url: ControllerURL,
            contentType: 'application/json',
            headers: headers,
            data: JSON.stringify(data),
            beforeSend: function() {
               /* $('#progressbar').modal('show');*/
            },
            success: function(data) {
                var fileurl = DownloadURL + '?fileGuid=' + data.FileGuid + '&filename=' + data.FileName;
                window.location.href = fileurl;
            },
            error: function() {
                alert('Error occurred during report generation.');
            },
            complete: function() {
                $('#progressbar').modal('hide');
            }
        });
    }
</script>