
@model IEnumerable<VerifyWebApp.Models.Child_Asset_Attachment>

@{
    ViewBag.Title = "ImageGallery_Index";
}

<style type="text/css">
    .table,
    .table table td {
        border: 0px solid #ccc;
    }

        .table img {
            height: 400px;
            width: 400px;
            cursor: pointer;
        }

    /*#dialog img {
        height: 550px;
        width: 575px;
        cursor: pointer;
    }*/

</style>

<div class="container-fluid py-4">
    <div class="row my-1">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row justify-content-md-center title">
                        <div class="row">
                            <div class="d-sm-flex justify-content-between">
                                <strong>
                                    <h4>
                                        Asset Gallery&nbsp;&nbsp;<label style="font-size:large">
                                            (Images: @ViewBag.imagecount, Size: @ViewBag.filesize)
                                        </label>
                                    </h4>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body" id="divTableData">
                    <div style="display: flex" id="Imagecontainer"></div>
                    <table style="display: none" class="table table-flush" id="tblattachment" align="center">
                        <thead>
                            <tr>
                                <td class="col-auto" hidden>
                                    Asset No
                                </td>
                                <td hidden>
                                    Asset Name
                                </td>
                                <td hidden>
                                    Source Event
                                </td>
                                <td hidden>
                                    Image
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Image preview</h4>
            </div>
            <div class="modal-body">
                <img src="" id="imagepreview" style="width: 400px; height: 264px;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>



<script type="text/javascript">
    $(document).ready(function () {
        LoadImages();
    });

    let cardcontainer = document.getElementById("Imagecontainer");

    function getCard(assetname, assetno, imgdata) {
        let card = document.createElement('div');

        let img = document.createElement('img');
        img.align = 'center';
        img.style.marginRight = "60px"; 
        let str = "data:image/jpg;base64," + imgdata;
        img.src = str;

        let eH4 = document.createElement('h6');
        eH4.innerText = "Asset Name: " + assetname;
        eH4.style.marginRight = "60px"; 

        let eH5 = document.createElement('h6');
        eH5.innerText = "Asset No: " + assetno;
        eH4.style.marginRight = "60px";

        card.appendChild(img);
        card.appendChild(eH4);
        card.appendChild(eH5);

        cardcontainer.appendChild(card);

        return card.outerHTML;
    }


    function LoadImages() {
        var ControllerURL = '@Url.Action("GetImageData", "ImageGallery")';
        console.log(ControllerURL);
        var table = $('#tblattachment').DataTable({
            "destroy": true,
            "processing": true,
            "pageLength": 3,
            "lengthChange": false,
            "pagingType": 'numbers',
            "searching": false, // Remove the search text box
            'language': {
                "loadingRecords": "&nbsp;",
                "processing": "Loading...",
                "decimal": ",",
                "thousands": "."
            },
            "serverSide": true,
            "filter": true,
            "ajax": {
                url: ControllerURL,
                type: 'POST',
            },
            "columns": [
                { "data": "assetno", "autoWidth": true }, // First visible column
                { "data": "assetname", "autoWidth": true }, // Second visible column
                {
                    "data": null,
                    "render": function (data, type, full, meta) {
                        return getCard(full.assetname, full.assetno, full.image_string);
                    }
                }
            ],
            "columnDefs": [
                {
                    "targets": [0, 1],
                    "visible": true,
                    "className": 'dt-body-center'
                },
                {
                    "targets": [2],
                    "visible": false,
                    "searchable": false
                }
            ]
        });
    }
</script>


