
@model IEnumerable<VerifyWebApp.Models.Child_Asset_Attachment>

@{
    ViewBag.Title = "ImageGallery_Index";
}

<style type="text/css">
    .table,
    .table table td {
        border: 0px solid #ccc;
    }

        .table img {
            height: 400px;
            width: 400px;
            cursor: pointer;
        }

    /*#dialog img {
        height: 550px;
        width: 575px;
        cursor: pointer;
    }*/

</style>

<div class="container-fluid py-4">
    <div class="row my-1">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row justify-content-md-center title">
                        <div class="row">
                            <div class="d-sm-flex justify-content-between">
                                <strong>
                                    <h4>
                                        Asset Gallery&nbsp;&nbsp;<label style="font-size:large">
                                            (Images: @ViewBag.imagecount, Size: @ViewBag.filesize)
                                        </label>
                                    </h4>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>


                <form class="row" style="display:none">
                    
                    <div class="col-sm-3 p-1" >
                        <input type="text" class="form-control form-control-sm"
                               style="margin-left:40px;"
                               id="txtsearch" placeholder="Enter Asset No ..">
                    </div>
                    <div class="col-sm-1 p-1" >
                        <button type="button" id="btnsearch" value="Search"
                                class="btn btn-xs addBtn" style="margin-left:50px;">

                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    

                </form>




                <div class="card-body" id="divTableData">
                    <table style="display: none" class="table table-flush" id="tblattachment" align="center">
                        <thead>
                            <tr>
                                <td class="col-auto" hidden>
                                    Asset No
                                </td>
                                <td hidden>
                                    Asset Name
                                </td>
                                <td hidden>
                                    Source Event
                                </td>
                                <td hidden>
                                    Image
                                </td>
                                <td ></td>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                  
                    </table>
                    <div style="display: flex;flex-wrap: wrap;gap:30px" id="Imagecontainer"></div>

                </div>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Image preview</h4>
            </div>
            <div class="modal-body">
                <img src="" id="imagepreview" style="width: 400px; height: 264px;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>



<script type="text/javascript">
    $(document).ready(function () {

        //$('#tblattachment').DataTable({
        //        pagingType: 'numbers'
        //});
        

       let searchstring = $("#txtsearch").val();

        $('#tblattachment').DataTable({
            "destroy": true,
            "processing": true,
            "pageLength": 9,
            "lengthChange": false,
            "pagingType": 'numbers',
            "searching": true,
            'language': {
                "loadingRecords": "&nbsp;",
                "processing": "Loading...",
                "decimal": ",",
                "thousands": "."
            },
            "serverSide": true,
            "filter": true,
            "ajax": {
                url: '@Url.Action("GetImageData", "ImageGallery")',
                type: 'POST',
                
            },
            "columns": [
                { "data": "assetno", "autoWidth": true },
                { "data": "assetname", "autoWidth": true },
                {
                    "data": null,
                    "render": function (data, type, full, meta) {
                        return getCard(full.assetname, full.assetno, full.image_string);
                    }
                }
            ],
            "columnDefs": [
                {
                    "targets": [0, 1],
                    "visible": true,
                    "className": 'dt-body-center'
                },
                {
                    "targets": [2],
                    "visible": false,
                    "searchable": false
                }
            ],
            "drawCallback": function () {
                LoadImages();
            }
        });
    });

    let cardcontainer = document.getElementById("Imagecontainer");

    function getCard(assetname, assetno, imgdata) {
        let card = document.createElement('div');
        card.style.width = "30%";
        let img = document.createElement('img');
        img.style.width = "250px";
        img.style.height = "250px";
        img.style.objectFit = "cover";
        //img.style.marginRight = "80px";
        let str = "data:image/jpg;base64," + imgdata;
        img.src = str;

        let eH4 = document.createElement('h6');
        eH4.innerText = "Asset Name: " + assetname;
        //eH4.style.marginRight = "80px";

        let eH5 = document.createElement('h6');
        eH5.innerText = "Asset No: " + assetno;

        card.appendChild(img);
        card.appendChild(eH4);
        card.appendChild(eH5);

        return card.outerHTML;
    }

    function LoadImages() {
        cardcontainer.innerHTML = "";
        $('#tblattachment tbody tr').each(function () {
            let data = $('#tblattachment').DataTable().row(this).data();
            let card = getCard(data.assetname, data.assetno, data.image_string);
            cardcontainer.appendChild($(card)[0]);
        });
    }

   

</script>




