
@{
    ViewBag.Title = "Index";
}


<div id="page-wrapper" class="container-fluid rounded page border shadow">
    <div class="row border-bottom">
        <div class="col-lg-12">
            @*<h3 class="page-header">Account</h3>*@
            <div class="row justify-content-md-center title">
                <strong> <h5>User Log Report</h5></strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mx-auto" style="width: 600px;">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtfromDate">From Date<span style="color:#CC0000;">*</span></label>
                        <div class='input-group date' id='dtfromDate'>
                            <input type="text" class="form-control" required id="txtfromDate">
                            <div class="input-group-addon">
                                <span class="input-group-text"><span class="fa fa-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtfromDate">To Date<span style="color:#CC0000;">*</span></label>
                        <div class='input-group date' id='dtfromDate'>
                            <input type="text" class="form-control" required id="txtfromDate">
                            <div class="input-group-addon">
                                <span class="input-group-text"><span class="fa fa-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>
     </div>
</div>
