

@{
    ViewBag.Title = "AddNew";
}

<style>
    label span {
        color: red;
        font-size: 20px;
    }
</style>

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add SubPeriod   test</h4>
    </div>
    @using (@Html.BeginForm(null, null, FormMethod.Post, new { id = "frmNewEmp", name = "frmNewEmp" }))
    {
        <div class="modal-body">


            <div class="form-group">
                <label for="praticesname">Start Date<span>*</span></label>

                <div class='input-group date' id='dtStartDate'>
                    <input type='text' id="txtStartDate" class="form-control" />

                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>

                </div>
                <div style="color:#CC0000;font-weight:400" id="startdateerror">Select Date</div>
            </div>
            <div class="form-group">
                <label for="praticesname">End Date<span>*</span></label>
                @*@Html.TextBoxFor(m => m.LeaveDate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LeaveDate, "", new { @class = "text-danger  " })*@
                <div class='input-group date' id='dtEndDate'>
                    <input type='text' id="txtEndDate" class="form-control" />

                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>

                </div>
                <div style="color:#CC0000;font-weight:400" id="enddateerror">Select Date</div>
            </div>


            <div><label style="font-size:12px;color:red "><span>*</span> Mandatory Fields</label></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
        </div>
    }
</div><!-- /.modal-content -->
<script src="~/Scripts/moment.js"></script>
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>

<script type="text/javascript">

    $('#dtStartDate').datetimepicker({
        format: 'DD/MM/YYYY',
        icons:
        {
            next: 'fa fa-angle-right',
            previous: 'fa fa-angle-left'
        },

    });
    $('#dtEndDate').datetimepicker({
        format: 'DD/MM/YYYY',
        icons:
        {
            next: 'fa fa-angle-right',
            previous: 'fa fa-angle-left'
        },
    });
    var EndDateStatus = false;
    var StartDateStatus = false;
    $(document).ready(function () {

        $("#startdateerror,#enddateerror").hide();


    });

    $("#frmNewEmp").submit(function (e) {

        SaveData();
        e.preventDefault();
        return false;

    });

    function SaveData() {

        // alert('Save');


        var StartDate;
        var EndDate;



        StartDate = $('#txtStartDate').val();
        EndDate = $('#txtEndDate').val();




        if (StartDate == '') {
            StartDateStatus = false;
        }
        else {
            //$('#assignError').hide();
            StartDateStatus = true;
        }
        if (EndDate == '') {
            EndDateStatus = false;
        }
        else {
            //$('#assignError').hide();
            EndDateStatus = true;
        }

        if (StartDateStatus == true && EndDateStatus == true) {
            alert("test");

            $("#startdateerror,#enddateerror").hide();
            // alert("test");
            var postdata =
                {
                    "FromDate": StartDate,
                    "ToDate": EndDate,
                    "PeriodID": '@ViewBag.addperiodid'
                };

           
            // window.location.replace(returnURL);
        }

        else {
            if (StartDateStatus == true && EndDateStatus == false) {
                $('#enddateerror').show();
                $('#startdateerror').hide();

            } else if (EndDateStatus == true && StartDateStatus == false) {
                $('#enddateerror').hide();

                $('#startdateerror').show();
            }
        
            else {
                $('#enddateerror').show();

                $('#startdateerror').show();

            }

            return false;
        }
    }

</script>