
@{
    ViewBag.Title = "NoRightsAjax";
}

<div class="modal-content">
    <div class="modal-header">
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <h3>You don't have rights to access this page</h3>
</div><!-- /.modal-content -->